In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Iris-f.csv")
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            NaN           3.6            1.4           0.2  Iris-setosa

In [3]:
df.fillna(method="bfill",inplace=True)

In [4]:
from sklearn.model_selection import train_test_split
x=df.iloc[:,0:4]
y=df.Species
xtrain,xtest,ytrain,ytest=train_test_split(x,y,train_size=0.8,random_state=1,shuffle=True)

In [8]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import Pipeline
pipe=Pipeline([
               ('minmax', MinMaxScaler()),
               ('clf',KNeighborsClassifier()),
              ])

In [9]:
pipe.fit(xtrain,ytrain)

Pipeline(steps=[('minmax', MinMaxScaler()), ('clf', KNeighborsClassifier())])

In [10]:
pipe.predict(xtest)

array(['Iris-setosa', 'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-setosa', 'Iris-virginica', 'Iris-versicolor',
       'Iris-setosa', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica'], dtype=object)